@charset"utf-8";


*{
  margin:0;padding:0;
  box-sizing:border-box;
}

#one{              
  background: url(https://raw.githubusercontent.com/chaoqunzhan/learngit/master/html/images/index-bg.jpg) center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  width:100%;            
}

#life{
  width:100%;
  float:left;
  background-color:#fff;
}

#young{
  width:100%;
  float:left;
  
  text-align:center;
  padding:3%;
}
#young p {
  line-height:200%;
  color:#aaaaaa;
  font-size:1.2vw;
  font-weight:800;
}

#learn{
  width:100%;
  background-color:#fff;
  float:left;
}

@media screen and (min-width:767px){
.describe{
  float:left;
  width:40%;
  margin-top:5%;
  margin-left:10%;
}
.display{
  float:right;
  width:35%;
  margin-top:5%;
  margin-right:10%;
  
}

#life h3{
  margin-top:10%;
  font-size:2vw;
  line-height:250%;
  font-weight:500;
}
#life p{
  font-size:1.3vw;
  line-height:250%;
}


.describe1{
  float:right;
  width:30%;
  
  margin-top:2%;
  margin-right:10%;
}
.display1{
  float:left;
  width:45%;
  margin-top:10%;
  margin-left:10%;
  margin-bottom:2%;
 
}

#learn h3{
  margin-top:5%;
  font-size:2vw;
  line-height:250%;
  font-weight:500;
}
#learn p{
  font-size:1.3vw;
  line-height:250%;
}


}


@media screen and (max-width:767px){
.describe{
  float:left;
  width:90%;
  
  margin:5%;
  text-align:center;
}
.display{
  float:right;
  width:90%;
  margin:5%;
  
}

#life h3{
  margin-top:10%;
  font-size:5.5vw;
  font-weight:500;
}
#life p{
  font-size:4.5vw;
  line-height:250%;
}


.describe1{
  float:left;
  width:90%;

  margin:5%;
  text-align:center;
}
.display1{
  float:left;
  width:90%;
  margin:5%;
  
}

#learn h3{
  margin-top:5%;
  font-size:5.5vw;
  line-height:250%;
  font-weight:500;
}
#learn p{
  font-size:4.5vw;
  line-height:250%;
}



}









/*宽度小于385px的效果*/
@media screen and (max-width:384px){
#life{
  width:384px;
}

#young{
  width:384px;
}

#learn{
  width:384px;
}
}