/**************************************pc版***********************************************/
/****************************************导航栏****************************************************、*/
 @media screen and (min-width:680px){
*{
  margin:0;padding:0;
}
.btx li {padding:20px 20px; 
  list-style-type : none;    
  float   : left;                    
}

a  {
  font-size : 20px;
  text-decoration : none;
  position        : relative;
  top   : 0;
  color : #FFF;     
  transition : all .4s;
}

li:hover a {
  top   : -20px;
  color : #4eacff;
  background-color: #808080;
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition : all .4s;
}

/*****************************************容器设置*****************************************************/

#one{               
  background: url(../images/index-bg.jpg) center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  width: 100%;
  height:1700px;               
}

.container{
  width:990px;
  margin:0 auto;
  /*background:url(../images/aboutbj2.jpg) repeat-x;*/
  border:1px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.container2{
  width:80%;
  height:1500px;
  
  margin:0 auto;
  /*border:15px solid #ced9e3;*/  
}



/***********************************内容框**************************************/

.zt{
  width: 100%;
  height:1150px;  
  margin:0 auto;
  border:1px solid #ced9e3; 
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  clear:right; 
  background-color:#fff;
}
.zym{
  width:400px;
  height:30px;
  float:right;
  
}
.wenben {

  border:1px solid #ced9e3;
  width: 460px;
  height:1050px;
  margin:20px 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow:3px 3px 5px #ced9e3;
  -moz-box-shadow: 3px 3px 5px #ced9e3;
  float:left;
}

.youlan{
  width: 230px;
  height:1050px;  
  margin:20px 20px;
  border:1px solid #ced9e3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow:3px 3px 5px #ced9e3;
  -moz-box-shadow: 3px 3px 5px #ced9e3;
  float:right;
}

.jianjie {
  
  margin:0 auto;
  width: 200px;
  height:300px;
}

.kobe{
  margin:0 auto;
  width: 225px;
  height:500px;
  float:left;
}
}
/***************************************************************************/

/**************************************************************************/

/*******************************移动端**************************************/
 @media screen and (max-width:480px){
*{
  margin:0;padding:0;
}


.title{
  width:100%;
  height:100px;
}

.btx{
  width:350px;
  height:120px;
  margin:0 auto;
}
.btx li {padding:20px 20px; 
  list-style-type : none;    
  float   : left;                    
}

a  {
  font-size : 20px;
  text-decoration : none;
  position        : relative;
  top   : 0;
  color : #FFF;     
  transition : all .4s;
}

li:hover a {
  top   : -20px;
  color : #4eacff;
  background-color: #808080;
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition : all .4s;
}

/*****************************************容器设置*****************************************************/


body:before { content: ' ';
   position: fixed;  
    z-index: -1;   
    top: 0;  
     right: 0;   
     bottom: 0;   
     left: 0;  
     background: url(../images/index-bg.jpg) center 0 no-repeat;  
     background-size: cover; 
}
.container{
  width:100%;
  margin:0 auto;
  /*background:url(../images/aboutbj2.jpg) repeat-x;*/
}

.container2{
  width:100%;
  height:1800px;
  background-color:;
  margin:0 auto;
  /*border:15px solid #ced9e3;*/  
}



/***********************************内容框**************************************/

.zt{
  width: 100%;
  height:1200px;  
  margin:0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  clear:right;
}

.zym{
  width:60%;
  height:15px;
  float:right;
}
.wenben {
  background-color:#fff;
  border:1px solid #ced9e3;
  width: 90%;
  height:1200px;
  margin:20px 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  /*-webkit-box-shadow:3px 3px 5px #ced9e3;
  -moz-box-shadow: 3px 3px 5px #ced9e3;*/
  float:left;
}

.youlan{
  background-color:#fff;
  width: 90%;
  height:370px;  
  margin:20px 20px;
  border:1px solid #ced9e3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
 /* -webkit-box-shadow:3px 3px 5px #ced9e3;
  -moz-box-shadow: 3px 3px 5px #ced9e3;*/
  clear:left;
}

.jianjie {

  width: 50%;
  height:370px;
  margin:0px 0px;
  float:left;
}

.kobe{
 
  width: 50%;
  height:370px;
  margin:0px 0px;
  float:right;
}
}