
/***************************************************************************/

/**************************************************************************/

/*******************************移动端**************************************/
 @media screen and (max-width:980px){
*{
  margin:0;padding:0;
}


.title{
  width:100%;
  height:100px;
}

.btx{
  width:350px;
  height:120px;
  margin:0 auto;
}
.btx li {padding:20px 20px; 
  list-style-type : none;    
  float   : left;                    
}

a  {
  font-size : 20px;
  text-decoration : none;
  position        : relative;
  top   : 0;
  color : #FFF;     
  transition : all .4s;
}

li:hover a {
  top   : -20px;
  color : #4eacff;
  background-color: #808080;
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition : all .4s;
}

/*****************************************容器设置*****************************************************/



.container{
  width:100%;
  margin:0 auto;
  background:url(../images/aboutbj2.jpg) repeat-x;
}

.container2{
  width:100%;
  height:1800px;
  background-color:;
  margin:0 auto;
  /*border:15px solid #ced9e3;*/  
}



/***********************************内容框**************************************/

.zt{
  width: 100%;
  height:1200px;  
  margin:0 auto;
 
  clear:right;
}

.zym{
  width:60%;
  height:15px;
  float:right;
}
.wenben {
  border:1px solid #ced9e3;
  width: 90%;
  height:1200px;
  margin:20px 20px;
  float:left;
}

.youlan{
  width: 90%;
  height:370px;  
  margin:20px 20px;
  border:1px solid #ced9e3;
  clear:left;
}

.jianjie {

  width: 50%;
  height:370px;
  margin:0px 0px;
  float:left;
}

.kobe{
 
  width: 50%;
  height:370px;
  margin:0px 0px;
  float:right;
}
}