/**************************************pc版***********************************************/
/****************************************导航栏****************************************************、*/
 @media screen and (min-width:680px){
*{
  margin:0;padding:0;
}
.btx li {padding:20px 20px; 
  list-style-type : none;    
  float   : left;                    
}

a  {
  font-size : 20px;
  text-decoration : none;
  position        : relative;
  top   : 0;
  color : #FFF;     
  transition : all .4s;
}

li:hover a {
  top   : -20px;
  color : #4eacff;
  background-color: #808080;
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition : all .4s;
}

/*****************************************容器设置*****************************************************/

#one{               
  background: url(../images/index-bg.jpg) center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  width: 100%;
  height:1900px;               
}

.con{
  width:990px;
  margin:0 auto;
  height:2200px;
  border:1px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  /*background-color:white;*/
}

.container{
  width:990px;
  margin:0 auto;

  /*background:url(../images/aboutbj2.jpg) repeat-x;*/
}

.container2{
  width:80%;
  height:1500px;
  background-color:;
  margin:0 auto;
  /*border:15px solid #ced9e3;*/  
}



/***********************************内容框**************************************/

.zt{
  width: 100%;
  /*height:1150px;*/  
  margin:0 auto;
  border:1px solid #ced9e3; 
    clear:right; }
.zym{
  width:450px;
  height:30px;
  float:right;
  
}
.wenben {

 /* border:1px solid #ced9e3;*/
  width: 560px;
  /*height:1050px;*/
  margin:20px 10px;
  float:left;
}

.youlan{
  width: 180px;
/*  height:1050px; */ 
  margin:20px 10px  0px 10px;
  border:1px solid #ced9e3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow:3px 3px 5px #ced9e3;
  -moz-box-shadow: 3px 3px 5px #ced9e3;
  float:right;
}


.wb_son{
  /*border:1px solid #c500e3;*/
  background-color:#cde8f5;
  width:560px;
  /*height:200px;*/
  margin:20px 0px 20px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
   -webkit-box-shadow:3px 3px 5px #ced9e3;
  -moz-box-shadow: 3px 3px 5px #ced9e3;
  float:left;
}

.wb_son1{
  /*border:1px solid #c500e3;*/
  background-color:#cde8f5;
  width:560px;
  /*height:200px;*/
  margin:20px 0px 20px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
   -webkit-box-shadow:3px 3px 5px #ced9e3;
  -moz-box-shadow: 3px 3px 5px #ced9e3;
  float:left;
}

.wb_s_1{
  /*border:1px solid #5320e3;*/
  width:540px;
  height:60px;
  margin:0 auto; 
}

/****************************鼠标经过放大效果*********************************/
.tv_hot {
    width: 180px;
}

.avatar {
    position: relative;
}
.tv_hot .avatar {
    display: block;
    height: 123px;
    overflow: hidden;
    width: 180px;
}
.tv_hot .avatar img {
    height: 123px;
}
.avatar:after {
    bottom: 0;
    content: url("../images/bg_play.png");
    left: 5px;
    position: absolute;
    z-index: 10;
}
.avatar:hover, .zhuti .avatar:hover, .bbsinner .avatar:hover {
    box-shadow: 0 0 10px gray;
}
.avatar:hover img, .zhuti .avatar:hover img, .bbsinner .avatar:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
  -webkit-transform: scale(1.3);
  -webkit-transform: all 1s ease 0s;
}


.wb_s_2{
 /* border:1px solid #5000e3;*/
  width:540px;
  /*height:130px;*/
  margin:0 auto; 
}

.wb_s_2_1{
  /*border:1px solid #500fe3;*/
  width:180px;
  height:123px;
  margin:0 auto;
  float:left; 
}

.wb_s_2_2{
  /*border:1px solid #50ffe3;*/
  width:320px;
 /* height:123px;*/
  margin:0px 12px 0px 23px;
  float:left; 
}


/*******************************时间 树狀图*********************************/
ul{margin:0;padding:0;font-weight:400;}
li{list-style:none;vertical-align:bottom;}
@-webkit-keyframes indtt_effect{0%{-webkit-transform:translateX(-25px);opacity:0;}100%{-webkit-transform:translateX(0);opacity:1;}}
.introduce_box.show .face_box img{animation:indtti_effect .5s .2s linear both;-webkit-animation:indtti_effect .5s .2s linear both;}
@keyframes indtti_effect{0%{transform:translateY(-25px);opacity:0;}100%{transform:translateY(0);opacity:1;}}
@-webkit-keyframes indtti_effect{0%{-webkit-transform:translateY(-25px);opacity:0;}100%{-webkit-transform:translateY(0);opacity:1;}}
.introduce_box.show .tt_box{animation:indttb_effect .5s .4s linear both;-webkit-animation:indttb_effect .5s .4s linear both;}
@keyframes indttb_effect{0%{transform:translateY(-25px);opacity:0;}100%{transform:translateY(0);opacity:1;}}
@-webkit-keyframes indttb_effect{0%{-webkit-transform:translateY(-25px);opacity:0;}100%{-webkit-transform:translateY(0);opacity:1;}}
.introduce_box.show .cont_box{animation:indct_effect .5s .6s linear both;-webkit-animation:indct_effect .5s .6s linear both;}
@keyframes indct_effect{0%{transform:translateX(25px);opacity:0;}100%{transform:translateY(0);opacity:1;}}
@-webkit-keyframes indct_effect{0%{-webkit-transform:translateX(25px);opacity:0;}100%{-webkit-transform:translateY(0);opacity:1;}}


.events_list li{position:relative;height:240px;}
.events_list .ic_events{position:absolute;width:51px;height:240px;top:0;overflow:hidden;}
.events_list .txt_events{font-size:18px;line-height:22px;color:#fff;position:absolute;white-space:nowrap;top:-12px;text-shadow:0 0 8px #1890ff;}
.events_list .txt_events strong{display:block;font-size:20px;line-height:34px;font-weight:400;}
.events_list .right_li{margin-left:0%;}
.events_list .right_li .ic_events{left:-7px;background:url("../images/ic_events1.png") no-repeat -396px -116px;}
.events_list .right_li .txt_events{left:56px;}
.events_list .left_li{margin-left:0%;}
.events_list .left_li .ic_events{left:-7px;background:url("../images/ic_events1.png") no-repeat -396px -116px;}
.events_list .left_li .txt_events{left:56px;}
/*.events_list .left_li{margin-left:0%;}
.events_list .left_li .ic_events{right:-7px;}
.events_list .left_li .ic_events i{position:absolute;top:0;right:0;width:51px;height:98px;background:url("../images/ic_events.png") no-repeat -460px -116px;}
.events_list .left_li .txt_events{left:36px;}*/


.events_list li:nth-child(1) .ic_events{animation:entic_effect .8s 1s linear both;-webkit-animation:entic_effect .8s 1s linear both;}
.events_list li:nth-child(2) .ic_events{animation:entic_effect .8s 1.8s linear both;-webkit-animation:entic_effect .8s 1.8s linear both;}
.events_list li:nth-child(3) .ic_events{animation:entic_effect .8s 2.6s linear both;-webkit-animation:entic_effect .8s 2.6s linear both;}
.events_list li:nth-child(4) .ic_events{animation:entic_effect .8s 3.4s linear both;-webkit-animation:entic_effect .8s 3.4s linear both;}
.events_list li:nth-child(5) .ic_events{animation:entic_effect .8s 4.2s linear both;-webkit-animation:entic_effect .8s 4.2s linear both;}
.events_list li:nth-child(6) .ic_events{animation:entic_effect .8s 5s linear both;-webkit-animation:entic_effect .8s 5s linear both;}
.events_list li:nth-child(7) .ic_events{animation:entic_effect .8s 5.8s linear both;-webkit-animation:entic_effect .8s 5.8s linear both;}
.events_list li:nth-child(8) .ic_events{animation:entic_effect .8s 6.6s linear both;-webkit-animation:entic_effect .8s 6.6s linear both;}


@keyframes entic_effect{0%{width:20px;height:24px;opacity:0;}40%{width:20px;height:24px;opacity:1;}100%{width:51px;height:230px;}}
@-webkit-keyframes entic_effect{0%{width:20px;height:24px;opacity:0;}40%{width:20px;height:24px;opacity:1;}100%{width:51px;height:230px;}}

.events_list li:nth-child(1) .txt_events{animation:enttxt_effect .8s 1s linear both;-webkit-animation:enttxt_effect .8s 1s linear both;}
.events_list li:nth-child(2) .txt_events{animation:enttxt_effect .8s 1.8s linear both;-webkit-animation:enttxt_effect .8s 1.8s linear both;}
.events_list li:nth-child(3) .txt_events{animation:enttxt_effect .8s 2.6s linear both;-webkit-animation:enttxt_effect .8s 2.6s linear both;}
.events_list li:nth-child(4) .txt_events{animation:enttxt_effect .8s 3.4s linear both;-webkit-animation:enttxt_effect .8s 3.4s linear both;}
.events_list li:nth-child(5) .txt_events{animation:enttxt_effect .8s 4.2s linear both;-webkit-animation:enttxt_effect .8s 4.2s linear both;}
.events_list li:nth-child(6) .txt_events{animation:enttxt_effect .8s 5s linear both;-webkit-animation:enttxt_effect .8s 5s linear both;}
.events_list li:nth-child(7) .txt_events{animation:enttxt_effect .8s 5.8s linear both;-webkit-animation:enttxt_effect .8s 5.8s linear both;}
.events_list li:nth-child(8) .txt_events{animation:enttxt_effect .8s 6.6s linear both;-webkit-animation:enttxt_effect .8s 6.6s linear both;}

@keyframes enttxt_effect{0%{transform:translateY(-10px);opacity:0;}100%{transform:translateY(0);opacity:1;}}
@-webkit-keyframes enttxt_effect{0%{-webkit-transform:translateY(-10px);opacity:0;}00%{-webkit-transform:translateY(0);opacity:1;}}



*{
    padding:0;
    margin:0;
}
ul{
    list-style: none;
}
a,img{
    display: block;
}

}
/***************************************************************************/

/**************************************************************************/

/*******************************移动端**************************************/
 @media screen and (max-width:680px){
*{
  margin:0;padding:0;
}


.title{
  width:100%;
  height:100px;
}

.btx{
  width:90%;
  height:120px;
  margin:0 auto;
}
.btx li {padding:20px 20px; 
  list-style-type : none;    
  float   : left;                    
}

a  {
  font-size : 20px;
  text-decoration : none;
  position        : relative;
  top   : 0;
  color : #FFF;     
  transition : all .4s;
}

li:hover a {
  top   : -20px;
  color : #4eacff;
  background-color: #808080;
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition : all .4s;
}

/*****************************************容器设置*****************************************************/

body:before { content: ' ';
   position: fixed;  
    z-index: -1;   
    top: 0;  
     right: 0;   
     bottom: 0;   
     left: 0;  
     background: url(../images/index-bg.jpg) center 0 no-repeat;  
     background-size: cover; 
}

.container{
  width:100%;
  margin:0 auto;
/*  background: url(../images/index-bg.jpg) center;*/
 /* background-repeat:no-repeat;
  background-attachment:fixed;*/
 /* background:url(../images/aboutbj2.jpg) repeat-x;*/
}

.container2{
  width:100%;
  /*height:1800px;*/
  background-color:;
  margin:0 auto;
  /*border:15px solid #ced9e3;*/  
}



/***********************************内容框**************************************/

.zt{
  width: 100%;
  /*height:1200px;  */
  margin:0 auto;
 
  clear:right;
}

.zym{
  width:60%;
  height:15px;
  float:right;
  margin:0 40px 0 ;
}
.wenben {
 /* border:1px solid #ced9e3;*/
  width: 90%;
  /*height:1550px;*/
  margin:20px 20px;
  float:left;
}

.youlan{
  width: 90%;
  /*height:850px; */ 
  margin:20px 20px;
  border:1px solid #ced9e3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
   -webkit-box-shadow:3px 3px 5px #ced9e3;
  -moz-box-shadow: 3px 3px 5px #ced9e3;
  clear:left;
}


.wb_son{
  /*border:1px solid #c500e3;*/
  background-color:#cde8f5;
  width:100%;
  
  margin:20px 0px 20px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow:3px 3px 5px #ced9e3;
  -moz-box-shadow: 3px 3px 5px #ced9e3;
}

.wb_son1{
  /*border:1px solid #c500e3;*/
  background-color:#cde8f5;
  width:100%;
  height:430px;
  margin:20px 0px 20px 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow:3px 3px 5px #ced9e3;
  -moz-box-shadow: 3px 3px 5px #ced9e3;
}

.wb_s_1{
  /*border:1px solid #5320e3;*/
  width:90%;
  height:60px;
  margin:0 auto; 
}

/****************************鼠标经过放大效果*********************************/
.tv_hot {
    width: 180px;
}

.avatar {
    position: relative;
}
.tv_hot .avatar {
    display: block;
    height: 123px;
    overflow: hidden;
    width: 180px;
}
.tv_hot .avatar img {
    height: 123px;
}
.avatar:after {
    bottom: 0;
    content: url("../images/bg_play.png");
    left: 5px;
    position: absolute;
    z-index: 10;
}
.avatar:hover, .zhuti .avatar:hover, .bbsinner .avatar:hover {
    box-shadow: 0 0 10px gray;
}
.avatar:hover img, .zhuti .avatar:hover img, .bbsinner .avatar:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
  -webkit-transform: scale(1.3);
  -webkit-transform: all 1s ease 0s;
}


.wb_s_2{
  /*border:1px solid #5000e3;*/
  width:90%;
  height:280px;
  margin:0 auto; 
}

.wb_s_2_1{
  /*border:1px solid #500fe3;*/
  width:180px;
  height:123px;
  margin:0 auto;
  float:left;
}

.wb_s_2_2{
  /*border:1px solid #50ffe3;*/
  width:100%;
  /*height:130px;*/
  margin:0 auto;
  clear:left; 
  padding:20px 0px 0px 0px;
}


/*******************************时间 树狀图*********************************/
ul{margin:0;padding:0;font-weight:400;}
li{list-style:none;vertical-align:bottom;}
@-webkit-keyframes indtt_effect{0%{-webkit-transform:translateX(-25px);opacity:0;}100%{-webkit-transform:translateX(0);opacity:1;}}
.introduce_box.show .face_box img{animation:indtti_effect .5s .2s linear both;-webkit-animation:indtti_effect .5s .2s linear both;}
@keyframes indtti_effect{0%{transform:translateY(-25px);opacity:0;}100%{transform:translateY(0);opacity:1;}}
@-webkit-keyframes indtti_effect{0%{-webkit-transform:translateY(-25px);opacity:0;}100%{-webkit-transform:translateY(0);opacity:1;}}
.introduce_box.show .tt_box{animation:indttb_effect .5s .4s linear both;-webkit-animation:indttb_effect .5s .4s linear both;}
@keyframes indttb_effect{0%{transform:translateY(-25px);opacity:0;}100%{transform:translateY(0);opacity:1;}}
@-webkit-keyframes indttb_effect{0%{-webkit-transform:translateY(-25px);opacity:0;}100%{-webkit-transform:translateY(0);opacity:1;}}
.introduce_box.show .cont_box{animation:indct_effect .5s .6s linear both;-webkit-animation:indct_effect .5s .6s linear both;}
@keyframes indct_effect{0%{transform:translateX(25px);opacity:0;}100%{transform:translateY(0);opacity:1;}}
@-webkit-keyframes indct_effect{0%{-webkit-transform:translateX(25px);opacity:0;}100%{-webkit-transform:translateY(0);opacity:1;}}


.events_list li{position:relative;height:98px;}
.events_list .ic_events{position:absolute;width:51px;height:98px;top:0;overflow:hidden;}
.events_list .txt_events{font-size:18px;line-height:22px;color:#fff;position:absolute;white-space:nowrap;top:-12px;text-shadow:0 0 8px #1890ff;}
.events_list .txt_events strong{display:block;font-size:20px;line-height:34px;font-weight:400;}
.events_list .right_li{margin-left:50%;}
.events_list .right_li .ic_events{left:-7px;background:url("../images/ic_events.png") no-repeat -396px -116px;}
.events_list .right_li .txt_events{left:36px;}
.events_list .left_li{text-align:right;width:50%;}
.events_list .left_li .ic_events{right:-7px;}
.events_list .left_li .ic_events i{position:absolute;top:0;right:0;width:51px;height:98px;background:url("../images/ic_events.png") no-repeat -460px -116px;}
.events_list .left_li .txt_events{left:36px;}


.events_list li:nth-child(1) .ic_events{animation:entic_effect .8s 1s linear both;-webkit-animation:entic_effect .8s 1s linear both;}
.events_list li:nth-child(2) .ic_events{animation:entic_effect .8s 1.8s linear both;-webkit-animation:entic_effect .8s 1.8s linear both;}
.events_list li:nth-child(3) .ic_events{animation:entic_effect .8s 2.6s linear both;-webkit-animation:entic_effect .8s 2.6s linear both;}
.events_list li:nth-child(4) .ic_events{animation:entic_effect .8s 3.4s linear both;-webkit-animation:entic_effect .8s 3.4s linear both;}
.events_list li:nth-child(5) .ic_events{animation:entic_effect .8s 4.2s linear both;-webkit-animation:entic_effect .8s 4.2s linear both;}
.events_list li:nth-child(6) .ic_events{animation:entic_effect .8s 5s linear both;-webkit-animation:entic_effect .8s 5s linear both;}
.events_list li:nth-child(7) .ic_events{animation:entic_effect .8s 5.8s linear both;-webkit-animation:entic_effect .8s 5.8s linear both;}
.events_list li:nth-child(8) .ic_events{animation:entic_effect .8s 6.6s linear both;-webkit-animation:entic_effect .8s 6.6s linear both;}


@keyframes entic_effect{0%{width:20px;height:24px;opacity:0;}40%{width:20px;height:24px;opacity:1;}100%{width:51px;height:98px;}}
@-webkit-keyframes entic_effect{0%{width:20px;height:24px;opacity:0;}40%{width:20px;height:24px;opacity:1;}100%{width:51px;height:98px;}}

.events_list li:nth-child(1) .txt_events{animation:enttxt_effect .8s 1s linear both;-webkit-animation:enttxt_effect .8s 1s linear both;}
.events_list li:nth-child(2) .txt_events{animation:enttxt_effect .8s 1.8s linear both;-webkit-animation:enttxt_effect .8s 1.8s linear both;}
.events_list li:nth-child(3) .txt_events{animation:enttxt_effect .8s 2.6s linear both;-webkit-animation:enttxt_effect .8s 2.6s linear both;}
.events_list li:nth-child(4) .txt_events{animation:enttxt_effect .8s 3.4s linear both;-webkit-animation:enttxt_effect .8s 3.4s linear both;}
.events_list li:nth-child(5) .txt_events{animation:enttxt_effect .8s 4.2s linear both;-webkit-animation:enttxt_effect .8s 4.2s linear both;}
.events_list li:nth-child(6) .txt_events{animation:enttxt_effect .8s 5s linear both;-webkit-animation:enttxt_effect .8s 5s linear both;}
.events_list li:nth-child(7) .txt_events{animation:enttxt_effect .8s 5.8s linear both;-webkit-animation:enttxt_effect .8s 5.8s linear both;}
.events_list li:nth-child(8) .txt_events{animation:enttxt_effect .8s 6.6s linear both;-webkit-animation:enttxt_effect .8s 6.6s linear both;}

@keyframes enttxt_effect{0%{transform:translateY(-10px);opacity:0;}100%{transform:translateY(0);opacity:1;}}
@-webkit-keyframes enttxt_effect{0%{-webkit-transform:translateY(-10px);opacity:0;}00%{-webkit-transform:translateY(0);opacity:1;}}



*{
    padding:0;
    margin:0;
}
ul{
    list-style: none;
}
a,img{
    display: block;
}
.content-main{ position: relative; width: 791px; height: 400px; background: #bbb9b9; margin-left: auto; margin-right: auto; margin-top: 0px; }
.content-btn{
    position: absolute;
    width:100px;
    height:400px;
    background: rgba(150,150,150,0.5);
    z-index:10;
    cursor: pointer;
}
.prev-btn{
    left:0;
    top:0;
}
.next-btn{
    right:0;
    top:0;
}
.btn-img{
    opacity:0.8;
    display: block;
    position: absolute;
    left:0;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.list{
    width:791px;
    height:400px;
}
.list li{
    position: absolute;
    left:0;
    top:0;
    overflow: hidden;
}
}